<form class="my-6" [formGroup]="loginForm" (ngSubmit)="submit(loginForm)">
  <div class="flex flex-col gap-y-4 sm:flex-row sm:gap-x-12 sm:px-6">
    <ion-input
      #inputFields
      type="email"
      fill="solid"
      label="Correo electrónico"
      labelPlacement="floating"
      helperText="Ingresa tu correo electrónico"
      errorText="Correo electrónico inválido"
      email
      clearInput
      mode="ios"
      formControlName="email"
      name="email"></ion-input>
    <app-show-hide-password
      class="flex w-full items-center"
      [showButton]="loginForm.controls['password'].value?.length > 0 || false">
      <ion-input
        #inputFields
        type="password"
        fill="solid"
        label="Contraseña"
        labelPlacement="floating"
        helperText="Ingresa tu contraseña"
        mode="ios"
        errorText="La contraseña debe tener al menos 8 carácteres"
        formControlName="password"
        name="password"></ion-input>
    </app-show-hide-password>
    <!-- <ion-toggle>Mostrar contraseña</ion-toggle> -->
  </div>
  <ion-button
    class="mt-5 sm:mx-48"
    fill="outline"
    shape="round"
    expand="block"
    type="submit"
    [disabled]="loginForm.invalid"
    >Iniciar sesión</ion-button
  >
</form>
<div class="flex flex-wrap gap-x-3 gap-y-1">
  <p>¿Has olvidado tu contraseña?</p>
  <a routerLink="forgot" class="text-blue-700 font-semibold underline">Recuperar contraseña</a>
</div>
<h5 class="text-center text-xl font-medium my-4">Inicia sesión con</h5>
<div class="flex flex-col justify-around text-base gap-y-3 sm:flex-row mb-3">
  <button
    (click)="loginWithGoogle()"
    class="flex items-center justify-center gap-x-1 outline-2 outline outline-red-500/80 rounded-full py-1 px-3 hover:bg-red-500/80 hover:text-white">
    <span>Google</span>
    <svg class="inline" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48">
      <path
        fill="#FFC107"
        d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
      <path
        fill="#FF3D00"
        d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
      <path
        fill="#4CAF50"
        d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
      <path
        fill="#1976D2"
        d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
    </svg>
  </button>
</div>
<p class="my-6 text-center opacity-[.85]">
  Si deseas trabajar como conductor debes registrarte
  <a (click)="segment.emit('register')" class="text-blue-700 font-semibold underline hover:cursor-pointer">aquí</a> y
  brindar datos adicionales
</p>
