<ion-content>
  <div class="bg-[url(assets/wave.svg)] w-full h-60 bg-cover grid place-content-center gap-4">
    <h1 class="text-4xl p-0 font-semibold text-center text-white">¡Bienvenido!</h1>
  </div>
  <section class="px-5">
    <ion-segment value="register" (ionChange)="handleChange($event)">
      <ion-segment-button value="login" layout="icon-end">
        <ion-label>Inicia sesión</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register" layout="icon-end">
        <ion-label>Regístrate</ion-label>
      </ion-segment-button>
    </ion-segment>
    @if (viewSelected() === 'login') {
      <app-login-form (segment)="changeValue($event)" />
    } @else {
      <app-register-form (segment)="changeValue($event)" />
    }
  </section>
</ion-content>
